@model GlobantTraining.DAL.Entities.PurchaseDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PurchaseDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PurchaseId" class="control-label"></label>
                <select asp-for="PurchaseId" class ="form-control" asp-items="ViewBag.PurchaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsumableId" class="control-label"></label>
                <select asp-for="ConsumableId" class ="form-control" asp-items="ViewBag.ConsumableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuantityConsumable" class="control-label"></label>
                <input asp-for="QuantityConsumable" class="form-control" />
                <span asp-validation-for="QuantityConsumable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceUnit" class="control-label"></label>
                <input asp-for="PriceUnit" class="form-control" />
                <span asp-validation-for="PriceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
